h1 {
    font-size: 31.5px;
}

h2 {
    font-size: 25.5px;
}

a {
    color: #1A4D7C;
}

a:hover {
    color: #6589ab;
}

.table-release td,
.table-release th {
    padding-left: 8px;
    padding-right: 8px;
}

.table .column-track {
    width: 1em;
    text-align: right;
}

.table .column-length {
    width: 4em;
    text-align: right;
}

.table .column-cover {
    width: 50px;
}

.table-release thead tr th {
    border-bottom-width: 1px;
    border-top-width: 0px;
}

/*.table-release thead:not(first-child) tr th {
    padding-top: 1em;
}*/

.table-release tbody tr:first-child td {
    border-top: none;
}

.loading {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
}

.loading span {
	display: inline-block;
	margin: auto;
	padding: 0 0.7em;
	background: #FFF573;
	border: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

dl.detail {
    margin-top: 0;
}

dl.detail dt {
    font-weight: normal;
    font-size: 90%;
    color: #666;
}

dl.detail dd {
    margin-bottom: 0.5em;
}

