<!DOCTYPE html>
<html ng-app="mbdata">
  <head>
    <title ng-bind-template="{{ '{{ title }}' }} | MusicBrainz"></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/mbdata.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/static/js/lib/humps.js"></script>
    <script>
        angular.module('mbdata.config', []).
            constant('API_URL', {{ api_url | tojson | safe }});
    </script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/filters.js"></script>
    <script src="/static/js/directives.js"></script>
  </head>
  <body ng-controller="AppCtrl">
    <div ng-show="loading" class="loading"><span>Loading...</span></div>
    <div ng-view class="container"></div>
  </body>
</html>
