<h1>{{ place.name }}</h1>

<p ng-show="place.type">Type: {{ place.type }}</p>

<p class="text-muted"><small>See this place at <a href="//musicbrainz.org/place/{{ place.id }}">MusicBrainz</a></small></p>
