<h1>Search</h1>
<form class="form-inline" role="form">
  <div class="form-group">
    <input type="search" class="form-control" ng-model="query">
  </div>
  <button class="btn btn-default" ng-click="search()">Search</button>
</form>
<div ng-show="results">
  <h2>Results</h2>
  <ul>
    <li ng-repeat="result in results">
      <!-- score={{ result.score }} -->
      <a href="/artist/{{ result.artist.id }}">{{ result.artist.name }}</a>
      <span class="text-muted" ng-show="result.artist.comment">({{ result.artist.comment }})</span>
    </li>
  </ul>
  <p ng-show="hasPrevPage || hasNextPage">
    Displaying results {{ pageInfo.start + 1 }} to {{ pageInfo.start + results.length }} of total {{ pageInfo.totalResults }}
    <span ng-show="hasPrevPage"> | <a ng-click="goToPrevPage()" href="#">Previous page</a></span>
    <span ng-show="hasNextPage"> | <a ng-click="goToNextPage()" href="#">Next page</a></span>
  </p>
</div>
