<h1>{{ work.name }}</h1>

<p ng-repeat="iswc in work.iswcs">ISWC: {{ iswc }}</p>

<p class="text-muted"><small>See this work at <a href="//musicbrainz.org/work/{{ work.id }}">MusicBrainz</a></small></p>
